<nav role="navigation" class="slds-p-around--x-small">
  <p id="bread-crumb-label" class="slds-assistive-text">You are here:</p>
  <ol class="slds-breadcrumb slds-list--horizontal" aria-labelledby="bread-crumb-label">
    <li class="slds-list__item slds-text-heading--label">TOP</li>
  </ol>
</nav>

<div class="slds-p-around--large">
  <ul class="slds-list--vertical slds-has-cards">
    <li class="slds-list__item"><a href="#/hello">HELLO WORLD</a></li>
    <li class="slds-list__item"><a href="#/binding">DATA BINDING</a></li>
    <li class="slds-list__item"><a href="#/shoping">SHOPING CART</a></li>
    <li class="slds-list__item"><a href="#/startup">STARTUP WATCH</a></li>
    <li class="slds-list__item"><a href="#/students">STUDENTS LIST</a></li>
    <li class="slds-list__item"><a href="#/albumList">ALBUM LIST</a></li>
    <li class="slds-list__item"><a href="#/deathRayMenu">DEATHRAY MENU</a></li>
  </ul>
</div>