<nav role="navigation" class="slds-p-around--x-small">
  <p id="bread-crumb-label" class="slds-assistive-text">You are here:</p>
  <ol class="slds-breadcrumb slds-list--horizontal" aria-labelledby="bread-crumb-label">
    <li class="slds-list__item slds-text-heading--label">TOP</li>
  </ol>
</nav>

<div class="slds-p-around--large">
  <ul class="slds-list--vertical slds-has-cards">
    <li class="slds-list__item"><a href="#/hello">Hello World</a></li>
    <li class="slds-list__item"><a href="#/binding">Data Binding</a></li>
    <li class="slds-list__item"><a href="#/">Sample</a></li>
    <li class="slds-list__item"><a href="#/">Sample</a></li>
    <li class="slds-list__item"><a href="#/">Sample</a></li>
    <li class="slds-list__item"><a href="#/">Sample</a></li>
    <li class="slds-list__item"><a href="#/">Sample</a></li>
    <li class="slds-list__item"><a href="#/">Sample</a></li>
  </ul>
</div>